@using EntityLayer.Concrete
@model List<EgzersizProgrami>


@{
    ViewData["Title"] = "EgzersizProgramList";
    Layout = "~/Views/Shared/DanisanLayout.cshtml";
}

<h1>EgzersizProgramList</h1>

<table class="table table-bordered">
    <tr>
        <th>Egzersiz Adı</th>
        <th>Hedef</th>
        <th>Set Sayısı</th>
        <th>Tekrar Sayısı</th>
        <th>Program Başlangıç Tarihi</th>
        <th>Program Süresi</th>
        <th>AppDanısan Id</th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.egzersizAdi</td>
            <td>@item.hedef</td>
            <td>@item.setSayisi</td>
            <td>@item.tekrarSayisi</td>
            <td>@item.programBaslangicTarihi</td>
            <td>@item.programSuresi</td>
            <td>@item.AppDanisanId</td>

        </tr>
    }

</table>
